@font-face {
    font-family: 'Ownglyph_eunbyul21-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    width: 100%; /* 화면 너비의 100% */
    height: 100vh; /* 화면 높이의 100% */
    background: rgb(255, 255, 255);
    background: linear-gradient(150deg, rgba(255, 255, 255, 1) 23%, rgba(123, 195, 208, 0.8211659663865546) 51%, rgba(255, 255, 255, 1) 87%);
    overflow-x: hidden;
    overflow-y: hidden;
}

.jo-home-boss {
    display: flex;
    margin: auto;
    justify-content: center;
}

.jo-B, .jo-U, .jo-G {
    font-weight: bold;
    font-size: 10vw; /* 예시로 10vw 사용, 필요에 따라 조정 */
    opacity: 0.8;
}

.jo-B {
    color: #1545a2;
}

.jo-U {
    color: #a6a6a6;
}

.jo-G {
    color: #1545a2;
}

.jo-haed {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.jo-Kill {
    text-align: center;
    margin-left: 10%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    font-family: 'Ownglyph_eunbyul21-Rg';
}

.jo-home-button, .jo-loc-button {
    font-family: 'Ownglyph_eunbyul21-Rg';
    border: blue 1px solid;
    background: transparent;
    border-radius: 20px;
    width: 100%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    height: 7%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    font-size: 1.8rem; /* 예시로 3vw 사용, 필요에 따라 조정 */
    margin-top: 7%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
}

.jo-emote {
    cursor: pointer;
    font-size: 10vw; /* 예시로 10vw 사용, 필요에 따라 조정 */
    width: 10vw; /* 예시로 10vw 사용, 필요에 따라 조정 */
}

.jo-loc-boss {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.jo-lock-h2 {
    font-family: 'Ownglyph_eunbyul21-Rg';
    margin: 3% auto; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    width: 100%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
}

.jo-lock-flex {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
}

.jo-loc-p {
    font-family: 'Ownglyph_eunbyul21-Rg';
    width: 100%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    text-align: center;
    font-weight: bold;
    padding-left: 13%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
}

.jo-loc-head {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.jo-pest-res {
    font-family: 'Ownglyph_eunbyul21-Rg';
    background-color: white;
    border-radius: 20px;
    width: 90%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    margin: auto;
    font-size: 1.7rem; /* 예시로 2vw 사용, 필요에 따라 조정 */
    padding: 1%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    line-height: 1.6rem;
}

.jo-pest-input {
    font-family: 'Ownglyph_eunbyul21-Rg';
    background-color: white;
    border-radius: 20px;
    border: blue 1px solid;
    width: 50%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    height: 20%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    margin-top: 8%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    text-align: center;
    font-size: 1.5rem; /* 예시로 3vw 사용, 필요에 따라 조정 */
    padding : 0.7%;
}

.jo-btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
    margin: auto;
    gap: 5%; /* 예시로 퍼센트 사용, 필요에 따라 조정 */
}

.jo-loding {
    font-family: 'Ownglyph_eunbyul21-Rg';
    font-size: 6vw; /* 예시로 6vw 사용, 필요에 따라 조정 */
    font-weight: bold;
    animation-duration: inherit;
}
.jo-loc-button-1{
    font-family: 'Ownglyph_eunbyul21-Rg';
    border: blue 1px solid;
    background: transparent;
    border-radius: 20px;
    width: 50%;
}
.jo-zmrl{
    margin: auto;
    width: 30%;
}

.jo-res-big{
    width: 80%;
    height: 50px;
    background-color: white;
    margin: auto;
}
